body {
  background: url('./pizza.webp') rgba(0,0,0,0.3);
  background-blend-mode: multiply;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  text-align: center;
  background-color: rgb(255,255,255,0.15);
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 10px;
  color:white;

  max-height: 80vh; /* Maximum height for the content */
  overflow-y: auto; /
}

@media(max-width: 991px){
  .sidebar{
    background-color: rgb(255,255,255,0.15);
    backdrop-filter: blur(10px);
  }
}