<html>
  <head>
         <title>My webpage</title>
         <style>
              ul {
             list-style-type: none;
              margin: 0;
             padding: 0;
             }
             li {
              margin:10;
              display: inline;
             }
         </style>
  </head>
  
  <body>
          <!-- navbar that should appear on every page -->
          <ul>
            <li><a href={% url 'index' %}>Home</a></li>
            <li><a href={% url 'page2' %}>Page2</a></li>

            {% if user.is_authenticated %}
                <li><a href={% url 'logout' %}>Logout</a></li>
            {% else %}
                <li><a href={% url 'login' %}>Login</a></li>
                <li><a href={% url 'register' %}>Register</a></li>
            {% endif %}
          </ul>
          {% block content %}
          <!-- Content provided by other templates will be filled in here -->
          {% endblock %}
  </body>
</html>