{% load static %}
<html>
    <head>
        <title>Pizzeria</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'base.css' %}">
    </head>
    <body>

        <!--Nav bar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-transparent fixed-top">
            <div class="container-fluid">

            <!--Logo-->
            <a class="navbar-brand fs-4" href="#">Fonderia</a>

            <!--T button-->
            <button
                class="navbar-toggler shadow-none border-0"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>

            <!--SideBar-->
            <div
                class="sidebar offcanvas offcanvas-strat"
                tabindex="-1"
                id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel"
            >

            <!--sidebar header-->
            <div class="offcanvas-header text-white border-bottom">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Fonderia</h5>
                <button
                    type="button"
                    class="btn-close btn-close-white shadow none"
                    data-bs-dismiss="offcanvas"
                    aria-label="Close"
                    ></button>
            </div>

            <!--sidebar body-->
            <div class="offcanvas-body d-flex flex-colum p-4 p-lg-0">
                <ul class="navbar-nav justify-content-center align-items-center fs-5 flex-grow-1 pe-3">
                <li class="nav-item mx-2">
                    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                </li>


                <li class="nav-item mx-2">
                    <a class="nav-link" href="{% url 'fill_pizza' %}">Create your own pizza</a>
                </li>

                <li class="nav-item mx-2">
                    <a class="nav-link" href="{% url 'my_orders' %}">My Previous orders</a>
                </li>

                </ul>
                <!--Login/register-->
                <div class="d-flex flex-colum justify-contnet-center align-items-center gap-3">

                    {% if user.is_authenticated %}
                        <a href="{% url 'logout' %}" class="text-decoration-none text-white">Logout</a>
                    {% else %}
                        <a href="{% url 'login' %}" class="text-decoration-none text-white">Login</a>
                        <a
                            href="{% url 'register' %}"
                            class="text-white text-decoration-none px-3 py-1 rounded-4"
                            style="background-color: #a6700d"
                        >Register</a>
                    {% endif %}
                </div>
            </div>
            </div>
        </div>
        </nav>

        <div class="content">
            {% block content %}
            <!-- Content provided by other templates will be filled in here -->
            {% endblock %}
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>