{% extends 'base.html' %}

{% block content %}
    {% if orders %}
        <ul>
            {% for order in orders %}
                <!--<li>Delivery Date: {{ order.date_ordered }} Pizza: {{ order.pizza }}</li>
                <br>-->
                <div class="card" style="width: 18rem;">
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item"><p style="color:#a6700d">Delivery Date:</p> {{ order.date_ordered }}</li>
                      <li class="list-group-item"><p style="color:#a6700d">Pizza:</p> {{ order.pizza }}</li>
                    </ul>
                  </div>
                <br>
            {% endfor %}
        </ul>
    {% else %}
        <h3>You haven't ordered any pizzas</h3>
    {% endif %}
{% endblock %}